################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PediGuard/.vs/PediGuard/FileContentIndex/5b5c1be9-3de0-4814-a1a9-4988eb202c03.vsidx
