@model IEnumerable<PediGuard.Models.Nobet>

@{
    ViewData["Title"] = "Available Shifts";
}

<h2>Available Shifts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Assistant</th>
            <th>Department</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nobet in Model)
        {
            <tr>
                <td>@nobet.Assistant.FullName</td>
                <td>@nobet.Department.Name</td>
                <td>@nobet.Date.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-area="Patient" asp-action="Book" asp-controller="Appointment" 
                    asp-route-nobetId="@nobet.ID" class="btn btn-primary">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>